
.education-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.education-content-box {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.education-box {
  width: 100%;
  background-color: #333;
  margin-bottom: 20px;
  padding: 10px;
}
.education-vertical-line-box  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.education-vertical-line {
  width: 3px;
  height: 40px;
  background-color: #13a2b7;
}
.education-box h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  color: lightgray;
}
.education-box h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: lightgray;
}
.education-box .tech-school-link {
  padding: 6px;
  background-color: #13a2b7;
  text-decoration: none;
  color: lightgray;
  border-radius: 10px;
  text-decoration: underline !important;
}
.education-box .tech-school-link:hover {
  background-color: gray;
}
.education-box h4 {
  font-size: 14px;
  font-weight: 400;
  color: lightgray;
}
.cert-link-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 5px;
}
.cert-link-box h3 {
  font-size: 1rem;
  padding-right: 5px;
}
.cert-link-box .cert-link-style {
  font-size: 1rem;
  text-decoration: underline;
  color: #13a2b7 !important;
}
.cert-link-box .cert-link-style:hover {
  color: gray !important;
}
@media screen and (max-width: 650px) {
  .education-box h2 {
    font-size: 1.1rem;
  }
  .education-box h3 {
    font-size: 1rem;
  }
  .education-box .tech-school-link:hover {
    background-color: #13a2b7 !important;
  }
  .cert-link-box .cert-link-style:hover {
    color: #13a2b7 !important;
  }
  .education-box h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .education-box .tech-school-link {
    padding: 6px;
  }
  .education-box h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .education-box h2 {
    font-size: 15px;
  }
  .education-box h3 {
    font-size: 14px;
  }
  .education-box h4 {
    font-size: 12px;
  }
}
